htm body{
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
}

h1 {
  color: green;
}

.head {
  display: flex;
  justify-content: flex-start;
  height: 100px; 
  /* border: 1px solid red; */
  background-color: rgb(220, 212, 212);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100px;
  /* border: 1px solid red; */
  margin: 10px auto;
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: 1px 5px 5px black;
}